* {
  box-sizing: border-box;
}

.parent{
}
    
.user {
    background-color: bisque;
}

.friends {
    background-color: aquamarine;
}

.quote {

    background-color: antiquewhite;
}

.pokemon {

    background-color: aquamarine;
}

.about {

    background-color: blanchedalmond;
}
        